@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus { outline: none; }
body {
  font-family: 'Google Sans';
  text-align: center;
  cursor: default !important;
}
main {
  height: 85vh;
  width: 100%;
}
iframe {
  height: 100%;
  width: 100%;
}
button { cursor: pointer; }
nav {
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: black;
}
nav ul { list-style-type: none; }
nav li { float: left; }
nav li a {
  text-align: center;
  padding: 10px;
}
nav li a:link, nav li a:visited {
  color: white;
  text-decoration: none;
}
nav li a:hover, nav li a.active {
  color: skyblue;
  text-decoration: underline;
}
a:link, a:visited {
  color: #0056B3;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
img[alt="My Linux Terminal"] { width: 20%; }
button[onclick="open_python_shell()"] {
  font-family: 'Flux Regular', sans-serif;
  background-image: linear-gradient(#ffdf76 10%, #ffd343 90%);
  border-radius: .25rem;
  border: 2px solid #ffd343;
  font-size: 20px;
  width: 5cm;
  height: 1.5cm;
}
input[type="checkbox"] { display: none; }
img { cursor: zoom-in; }
input[type="checkbox"]:checked ~ label > img {
  transform: scale(1.5);
  cursor: zoom-out;
}
